// Color
$theme: hsl(191, 8%, 15%);
$bg: hsl((hue($theme) + 180), 19%, 93%);
$white: lighten($bg, 6%);
$gray: lighten($theme, 35%);
$lightgray: lighten($gray, 45%);
$shadow: rgba($theme, 0.2);

// Size
$frame-width: 1rem;
$header-height: (100vh / sqrt(2));

:root {
	--theme: #{$theme};
	--bg: #{$bg};
	--white: #{$white};
	--gray: #{$gray};
}
