$brand: (
	twitter: $bc-twitter,
	github: $bc-github,
	discord: $bc-discord,
	steam: #096295,
	codepen: #000
);

$wrap-width: 12.5rem;
$wrap-margin: 12px;
:root {
	--about-wrap-width: #{$wrap-width};
	--about-wrap-margin: #{$wrap-margin};
}
#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	& > .wraps {
		width: calc(#{$wrap-width * 4} + #{$wrap-margin * 3});
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		& > .wrap-sizer {
			width: $wrap-width;
			visibility: hidden;
			margin: 0;
		}
		& > .wrap {
			width: $wrap-width;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			box-shadow: 0 2px 2px $shadow;
			overflow: hidden;
			margin-bottom: $wrap-margin;
			&.x2 {
				width: calc(#{$wrap-width * 2} + #{$wrap-margin});
			}
			& > .title-wrap {
				border-left: 0.25rem solid $theme;
				padding: 0.3rem 0;
				padding-left: 0.8rem;
				background: $whity;
				& > .title {
					color: $theme;
					font-family: "Dosis", sans-serif;
					font-size: 1.1rem;
					letter-spacing: 0.2rem;
				}
			}
			& > .text-wrap {
				padding: 0.4rem 0;
				padding-left: 1.05rem;
				background: $whity;
				& > .text {
					color: $theme;
					font-family: "IBM Plex Sans Condensed", sans-serif;
					font-size: 0.75rem;
					letter-spacing: 1px;
					padding: 0.05rem 0;
					&:not(:first-of-type) {
						font-size: 0.5rem;
					}
				}
			}
		}
		& > .links-wrap {
			& > .links {
				list-style: none;
				display: flex;
				flex-direction: column;
				& > .link {
					display: flex;
					flex-direction: row;
					align-items: center;
					$icon-size: 2.25rem;
					& > .icon-wrap {
						position: relative;
						size: $icon-size;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						& > a {
							position: absolute;
							z-index: 1;
							size: 100%;
						}
						& > .clipboard {
							position: absolute;
							z-index: 1;
							size: 100%;
						}
						& > svg {
							color: $whity;
							font-size: ($icon-size / sqrt(2) / sqrt(2));
						}
					}
					& > .text-wrap {
						width: ($wrap-width - $icon-size);
						$pad-per: (1 - (1 / metallic(1)));
						padding-right: ($icon-size * $pad-per);
						padding-left: ($icon-size * (1 - $pad-per));
						height: $icon-size;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-end;
						background: $whity;
						position: relative;
						& > p {
							color: $theme;
							font-size: 0.75rem;
							font-family: "IBM Plex Sans Condensed", sans-serif;
							letter-spacing: 0.1rem;
							transition: 0.125s linear;
							transition-property: opacity, transform;
							&.feedback {
								opacity: 0;
								position: absolute;
								transform: translateY(100%);
							}
						}
						&::before {
							content: "";
							border-bottom: 1px dotted $theme;
							width: 100%;
							margin-right: 0.5rem;
							opacity: 0.25;
						}
					}
					&.copyed {
						& > .text-wrap {
							& > p {
								&:not(.feedback) {
									opacity: 0.125;
									transform: translateY(-100%);
								}
								&.feedback {
									opacity: 1;
									transform: translateY(0%);
								}
							}
						}
					}
					@each $brand, $color in $brand {
						&.#{$brand} {
							& > .icon-wrap {
								background: $color;
							}
						}
					}
				}
			}
		}
		& > .avatar-wrap {
			& > .image-wrap {
				display: flex;
				img {
					size: 100%;
				}
			}
			& > .logo-wrap {
				width: 100%;
				display: flex;
				align-items: stretch;
				& > .left,
				& > .right {
					width: 50%;
					display: flex;
					flex-direction: column;
				}
				& > .left {
					background: $theme;
				}
				& > .right {
					background: $whity;
				}
				.jp-en,
				.en {
					width: 100%;
					height: 2.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					& > svg {
						width: (100% / sqrt(2));
					}
				}
				.en {
					& > svg {
						fill: $theme;
					}
				}
				.jp-en {
					& > svg {
						fill: $whity;
					}
				}
				.me,
				.site {
					width: 100%;
					height: 5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					& > svg {
						height: (100% / metallic(1));
					}
				}
				.me {
					& > svg {
						stroke: $whity;
						stroke-width: 12px;
						fill: transparent;
					}
				}
				.site {
					& > svg {
						fill: $theme;
					}
				}
			}
		}
		& > .bio-wrap {
			& > .bio {
				background: $whity;
				padding: 1rem 1rem;
				padding-left: 1.5rem;
				border-top: 1px dashed $theme;
				& > p {
					position: relative;
					color: $theme;
					font-size: 0.75rem;
					font-family: "Noto Sans Japanese", sans-serif;
					font-weight: 200;
					letter-spacing: 1px;
					& > a {
						color: $theme;
						font-weight: 400;
						text-decoration: underline dotted $theme;
						cursor: pointer;
					}
					&:not(:last-of-type) {
						margin-bottom: 0.5rem;
					}
					&::before {
						content: "";
						position: absolute;
						border-right: 1px solid $theme;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto 0;
						height: (100% / metallic(1));
					}
				}
			}
		}
	}
}
