$brand: (
	twitter: $bc-twitter,
	github: $bc-github,
	discord: $bc-discord,
	steam: #096295,
	codepen: #000
);

$wrap-width: 12.5rem;
$wrap-margin: 12px;
$wrap-row: 4;
:root {
	--about-wrap-width: #{$wrap-width};
	--about-wrap-margin: #{$wrap-margin};
}
#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	& > .title-wrap {
		position: relative;
		overflow: hidden;
		padding: 0 0.5rem;
		& > .title {
			animation: about_title 0.2s $easeOutCubic both;
			animation-delay: 0.8s;
			@keyframes about_title {
				from {
					opacity: 0;
					transform: translateY(25%);
				}
				to {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		& > .cover {
			position: absolute 0;
			width: 100%;
			height: 50%;
			background: $theme;
			animation: 0.8s $easeInOutExpo both;
			animation-delay: 0.2s;
			&:nth-of-type(1) {
				top: 0;
				transform-origin: bottom;
				animation-name: about_title_cover_1;
				@keyframes about_title_cover_1 {
					from {
						transform: scaleY(0);
					}
					50% {
						transform: scaleY(1);
					}
					to {
						transform: translateY(-105%);
					}
				}
			}
			&:nth-of-type(2) {
				top: 50%;
				transform-origin: top;
				animation-name: about_title_cover_2;
				@keyframes about_title_cover_2 {
					from {
						transform: scaleY(0);
					}
					50% {
						transform: scaleY(1);
					}
					to {
						transform: translateY(105%);
					}
				}
			}
		}
	}
	& > .wraps {
		width: calc(
			#{$wrap-width * $wrap-row} + #{$wrap-margin * ($wrap-row - 1)}
		);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		margin-bottom: 5rem;
		& > .wrap-sizer {
			width: $wrap-width;
			visibility: hidden;
			margin: 0;
		}
		& > .wrap {
			$root-delay-base: 0.2s;
			width: $wrap-width;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			box-shadow: 0 2px 2px $shadow;
			overflow: hidden;
			margin-bottom: $wrap-margin;
			animation: about_wrap 1.5s $easeOutCubic both;
			@keyframes about_wrap {
				from {
					transform: translateY(1rem);
					opacity: 0;
				}
				to {
					opacity: 1;
					transform: translateY(0);
				}
			}
			@for $i from 2 through $wrap-row {
				&.x#{$i} {
					width: calc(
						#{$wrap-width * $i} + #{$wrap-margin * ($i - 1)}
					);
				}
			}
			@for $i from 1 through 6 {
				&:nth-of-type(#{$i}) {
					$root-delay: ($root-delay-base * $i);
					animation-delay: $root-delay;
					& > .title-wrap {
						& > .title {
							animation-delay: ($root-delay * 0.8) +
								0.1s +
								(0.15s * $i);
						}
						&:before {
							animation-delay: ($root-delay * 0.8) + (0.15s * $i);
						}
					}
					& > .text-wrap {
						& > .text {
							@for $j from 1 through 3 {
								&:nth-of-type(#{$j}) {
									animation-delay: ($root-delay * 0.8) +
										0.15s +
										(0.15s * $i) +
										($j * 0.1s);
								}
							}
						}
					}
				}
			}
			& > .title-wrap {
				padding: 0.3rem 0;
				padding-left: 1.2rem;
				background: $white;
				overflow: hidden;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					border-left: 0.3rem solid $theme;
					height: 100%;
					animation: about_wrap_title_border 1.5s $easeOutCubic both;
					transform-origin: left;
					@keyframes about_wrap_title_border {
						from {
							transform: scaleX(0);
						}
						to {
							transform: scaleX(1);
						}
					}
				}
				& > .title {
					color: $theme;
					font-family: "Dosis", sans-serif;
					font-size: 1.1rem;
					letter-spacing: 0.2rem;
					animation: about_wrap_title 1.5s $easeOutCubic both;
					@keyframes about_wrap_title {
						from {
							opacity: 0;
							transform: translateX(-5%);
						}
						to {
							opacity: 1;
							transform: translateX(0);
						}
					}
				}
			}
			& > .text-wrap {
				padding: 0.4rem 0;
				padding-left: 1.05rem;
				background: $white;
				overflow: hidden;
				& > .text {
					color: $theme;
					font-family: "IBM Plex Sans Condensed", sans-serif;
					font-size: 0.75rem;
					letter-spacing: 1px;
					padding: 0.05rem 0;
					animation: about_wrap_text 0.75s $easeOutCubic both;
					&:not(:first-of-type) {
						font-size: 0.5rem;
					}
					@keyframes about_wrap_text {
						from {
							transform: translateY(100%);
							opacity: 0;
						}
						to {
							transform: translateX(0);
							opacity: 1;
						}
					}
				}
			}
			&.links-wrap {
				$root-delay: ($root-delay-base * 2);
				& > .links {
					list-style: none;
					display: flex;
					flex-direction: column;
					& > .link {
						display: flex;
						flex-direction: row;
						align-items: center;
						$icon-size: 2.25rem;
						position: relative;
						background: $white;
						& > a,
						& > .clipboard {
							position: absolute;
							z-index: 1;
							size: 100%;
							cursor: pointer;
						}
						@for $i from 1 through 5 {
							&:nth-of-type(#{$i}) {
								& > .icon-wrap {
									&:before {
										animation-delay: $root-delay +
											0.8s +
											($i * 0.1s);
									}
									& > svg {
										animation-delay: $root-delay +
											1s +
											($i * 0.1s);
									}
								}
								& > .text-wrap {
									& > p {
										animation-delay: $root-delay +
											1.3s +
											($i * 0.15s);
									}
									&:before {
										animation-delay: $root-delay +
											1.1s +
											($i * 0.15s);
									}
								}
							}
						}
						& > .icon-wrap {
							size: $icon-size;
							display: flex;
							justify-content: center;
							align-items: center;
							position: relative;
							overflow: hidden;
							&:before {
								content: "";
								position: absolute;
								$size: 105%;
								size: ($size * sqrt(2));
								top: (1 - sqrt(2)) * $size * 0.5;
								left: (1 - sqrt(2)) * $size * 0.5;
								border-radius: 50%;
								z-index: 0;
								animation: about_wrap_links_icon_bg 0.8s
									$easeInOutQuint both;
								@keyframes about_wrap_links_icon_bg {
									from {
										transform: scale(0);
									}
									to {
										transform: scale(1);
									}
								}
							}
							& > svg {
								position: relative;
								z-index: 1;
								color: $white;
								font-size: ($icon-size / sqrt(2) / sqrt(2));
								animation: about_wrap_links_icon 0.75s
									$easeInOutCubic both;
								@keyframes about_wrap_links_icon {
									from {
										opacity: 0;
										transform: scale(0) rotateZ(-1rad);
									}
									to {
										opacity: 1;
										transform: scale(1) rotateZ(0);
									}
								}
							}
						}
						& > .text-wrap {
							width: ($wrap-width - $icon-size);
							$pad-per: (1 - (1 / metallic(1)));
							padding-right: ($icon-size * $pad-per);
							padding-left: ($icon-size * (1 - $pad-per));
							height: $icon-size;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-end;
							position: relative;
							transition: background-color 0.5s ease;
							overflow: hidden;
							& > p {
								color: $theme;
								font-size: 0.75rem;
								font-family: "IBM Plex Sans Condensed",
									sans-serif;
								letter-spacing: 0.05rem;
								transition: 0.125s $easeInOutCubic;
								transition-property: opacity, transform;
								animation: about_wrap_links_text 0.4s
									$easeInOutCubic both;
								transform-origin: left;
								@keyframes about_wrap_links_text {
									from {
										opacity: 0;
										transform: translateY(25%);
									}
									to {
										opacity: 1;
										transform: translateY(0);
									}
								}
								&.feedback {
									opacity: 0;
									position: absolute;
									transform: translateY(100%);
									animation: none;
								}
							}
							&:before {
								content: "";
								border-bottom: 1px dotted $gray;
								width: 100%;
								margin-right: 0.5rem;
								animation: about_wrap_links_text_before 0.5s
									$easeInOutCubic both;
								transform-origin: left;
								@keyframes about_wrap_links_text_before {
									from {
										transform: scaleX(0);
									}
									to {
										transform: scaleX(1);
									}
								}
							}
							&:after {
								content: "";
								position: absolute;
								left: ($icon-size * (1 - $pad-per)) * 0.5;
								border-left: 1px solid $gray;
								height: (50% / metallic(1));
								top: 0;
								bottom: 0;
								margin: auto 0;
								transform: scaleY(0);
								transition: transform 0.5s $easeOutCubic;
							}
						}
						&.copyed {
							& > .text-wrap {
								& > p {
									&:not(.feedback) {
										opacity: 0.125;
										transform: translateY(-100%);
									}
									&.feedback {
										opacity: 1;
										transform: translateY(0%);
									}
								}
							}
						}
						&:hover {
							& > .text-wrap {
								background: $lightgray;
								&:after {
									transform: scaleY(1);
								}
							}
						}
						@each $brand, $color in $brand {
							&.#{$brand} {
								& > .icon-wrap {
									&:before {
										background: $color;
									}
								}
							}
						}
					}
				}
			}
			&.avatar-wrap {
				$root-delay: ($root-delay-base * 3);
				& > .image-wrap {
					display: flex;
					position: relative;
					overflow: hidden;
					background: $white;
					img {
						size: 100%;
						animation: about_wrap_avatar_img 0.1s linear both;
						animation-delay: $root-delay + 1.6s;
						@keyframes about_wrap_avatar_img {
							0% {
								opacity: 0;
							}
							to {
								opacity: 1;
								transform: rotate(0);
							}
						}
					}
					&:before,
					&:after {
						content: "";
						position: absolute;
						$size: $wrap-width;
						size: $size * sqrt(2);
						top: (1 - sqrt(2)) * $size * 0.5;
						left: (1 - sqrt(2)) * $size * 0.5;
						border-radius: 50%;
						z-index: 0;
						animation: about_wrap_avatar_img_border 0.8s
							$easeInOutExpo both;
						border: ($size * sqrt(2) / 2) solid;
						@keyframes about_wrap_avatar_img_border {
							0% {
								transform: scale(0);
							}
							50% {
								transform: scale(1);
							}
							to {
								border-width: 0;
							}
						}
					}
					&:before {
						animation-delay: $root-delay + 1s;
						border-color: $theme;
						z-index: 2;
					}
					&:after {
						animation-delay: $root-delay + 1.1s;
						border-color: $lightgray;
						z-index: 1;
					}
				}
				& > .logo-wrap {
					width: 100%;
					display: flex;
					align-items: stretch;
					background: $white;
					& > .left,
					& > .right {
						width: 50%;
						display: flex;
						flex-direction: column;
					}
					& > .left {
						position: relative;
						&:before,
						&:after {
							content: "";
							position: absolute 0;
							size: 100%;
							transform-origin: left;
							animation: about_wrap_avatar_logo_right_bg 1.5s
								$easeOutExpo both;
							@keyframes about_wrap_avatar_logo_right_bg {
								0% {
									transform: scaleX(0);
								}
								100% {
									transform: scaleX(1);
								}
							}
						}
						&:before {
							background: $lightgray;
							animation-delay: $root-delay + 1s;
						}
						&:after {
							background: $theme;
							animation-delay: $root-delay + 1.1s;
						}
					}
					.jp-en,
					.en {
						width: 100%;
						height: 2.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						position: relative;
						z-index: 1;
						& > svg {
							width: (100% / sqrt(2));
							animation: about_wrap_avatar_logo_name 1s
								$easeInOutCubic both;
							@keyframes about_wrap_avatar_logo_name {
								from {
									opacity: 0;
									transform: translateY(50%);
								}
								to {
									opacity: 1;
									transform: translateY(0);
								}
							}
						}
					}
					.en {
						& > svg {
							fill: $theme;
							animation-delay: $root-delay + 1.5s;
						}
					}
					.jp-en {
						& > svg {
							fill: $white;
							animation-delay: $root-delay + 1.6s;
							g,
							path {
								&:not([fill="#39d8d0"]) {
									fill: $white;
								}
							}
						}
					}
					.me,
					.site {
						width: 100%;
						height: 5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						z-index: 1;
						& > svg {
							height: (100% / metallic(1));
						}
					}
					.me {
						& > svg {
							@keyframes about_wrap_avatar_logo_me {
								to {
									stroke-dashoffset: 0;
								}
							}
							path,
							circle {
								stroke: $white;
								stroke-width: 12px;
								fill: transparent;
								stroke-dasharray: 1000;
								stroke-dashoffset: 1000;
								animation: about_wrap_avatar_logo_me 0.5s
									$easeInCubic both;
								@for $i from 1 through 15 {
									&:nth-of-type(#{$i}) {
										animation-delay: $root-delay +
											1.25s +
											($i * 0.1s);
									}
								}
							}
						}
					}
					.site {
						& > svg {
							fill: $theme;
							animation: about_wrap_avatar_logo_site 1s
								$easeInOutCubic both;
							animation-delay: $root-delay + 1.8s;
							@keyframes about_wrap_avatar_logo_site {
								from {
									opacity: 0;
									transform: translateY(-10%);
								}
								to {
									opacity: 1;
									transform: translateY(0);
								}
							}
						}
					}
				}
			}
			&.bio-wrap {
				$root-delay: ($root-delay-base * 1);
				& > .bio {
					background: $white;
					padding: 1rem 1rem;
					padding-left: 1.5rem;
					overflow: hidden;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						border-top: 1px dashed $theme;
						transform-origin: left;
						animation: about_wrap_bio_border 0.75s $easeInOutExpo
							both;
						animation-delay: $root-delay + 1s;
						@keyframes about_wrap_bio_border {
							from {
								opacity: 0.5;
								transform: translateX(-100%);
							}
							to {
								opacity: 1;
								transform: translateX(0);
							}
						}
					}
					& > p {
						position: relative;
						color: $theme;
						font-size: 0.75rem;
						font-family: "Noto Sans Japanese", sans-serif;
						font-weight: 200;
						letter-spacing: 1px;
						& > a {
							color: $theme;
							font-weight: 400;
							text-decoration: underline dotted $theme;
							cursor: pointer;
						}
						&:not(:last-of-type) {
							margin-bottom: 0.5rem;
						}
						animation: about_wrap_bio_text 0.75s $easeInOutCubic
							both;
						@keyframes about_wrap_bio_text {
							from {
								opacity: 0;
								transform: translateY(50%);
							}
							to {
								opacity: 1;
								transform: translateY(0);
							}
						}
						&:before {
							content: "";
							position: absolute;
							border-right: 1px solid $gray;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto 0;
							height: (100% / metallic(1));
							animation: about_wrap_bio_text_before 0.25s
								$easeInOutExpo both;
							@keyframes about_wrap_bio_text_before {
								from {
									transform: scale(0);
								}
								to {
									transform: scale(1);
								}
							}
						}
						@for $i from 1 through 5 {
							&:nth-of-type(#{$i}) {
								animation-delay: $root-delay +
									0.8s +
									($i * 0.1s);
								&:before {
									animation-delay: $root-delay +
										1.25s +
										($i * 0.1s);
								}
							}
						}
					}
				}
			}
			&.detail-wrap {
				$root-delay: ($root-delay-base * 5);
				& > .details {
					li {
						display: flex;
						align-items: stretch;
						background: $white;
						$title-per: (1 - (1 / metallic(1)));
						& > .icon-wrap {
							width: 2.25rem;
							display: flex;
							justify-content: center;
							align-items: center;
							color: $white;
							font-size: 0.9rem;
							padding: 0.5rem 0;
							position: relative;
							overflow: hidden;
							& > svg {
								animation: about_wrap_links_icon_bg 0.8s
									$easeInOutQuint both;
								@keyframes about_wrap_links_icon_bg {
									from {
										transform: scale(0) rotate(2rad);
									}
									to {
										transform: scale(1) rotate(0);
									}
								}
							}
							&:before {
								content: "";
								position: absolute;
								$size: 105%;
								size: ($size * sqrt(2));
								top: (1 - sqrt(2)) * $size * 0.5;
								left: (1 - sqrt(2)) * $size * 0.5;
								border-radius: 50%;
								z-index: 0;
								background: $theme;
								animation: about_wrap_details_icon_bg 0.8s
									$easeInOutQuint both;
								@keyframes about_wrap_details_icon_bg {
									from {
										transform: scale(0);
									}
									to {
										transform: scale(1);
									}
								}
							}
						}
						& > .title-wrap {
							width: ($title-per * 100%);
							padding-left: 0.5rem;
							display: flex;
							align-items: center;
							position: relative;
							& > .title {
								color: $theme;
								font-size: 0.75rem;
								font-family: "IBM Plex Sans Condensed",
									sans-serif;
								letter-spacing: 0.05rem;
								animation: about_wrap_details_title 0.5s
									$easeOutQuint both;
								@keyframes about_wrap_details_title {
									from {
										opacity: 0;
										transform: translateX(-10%);
									}
									to {
										opacity: 1;
										transform: translateY(0);
									}
								}
							}
							&:before {
								content: "";
								position: absolute;
								height: (50% / metallic(1));
								right: 0;
								border-right: 1px $gray solid;
								animation: about_wrap_details_title_border 0.25s
									$easeOutExpo both;
								@keyframes about_wrap_details_title_border {
									from {
										transform: scaleY(0);
									}
									to {
										transform: scaleY(1);
									}
								}
							}
						}
						& > .text-wrap {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							width: ((1 - $title-per) * 100%);
							background: $white;
							padding-right: 0.5rem;
							padding-left: (0.5rem * metallic(1));
							&:before {
								content: "";
								width: 100%;
								border-bottom: 1px $gray dotted;
								margin-right: 0.5rem;
								animation: about_wrap_details_text_border 0.5s
									$easeOutExpo both;
								transform-origin: left;
								@keyframes about_wrap_details_text_border {
									from {
										transform: scaleX(0);
									}
									to {
										transform: scaleX(1);
									}
								}
							}
							& > .text {
								color: $theme;
								font-family: "IBM Plex Sans Condensed",
									sans-serif;
								font-variant-numeric: tabular-nums;
								font-size: 0.75rem;
								letter-spacing: 0.05rem;
								animation: about_wrap_details_text 0.4s
									$easeOutQuint both;
								@keyframes about_wrap_details_text {
									from {
										opacity: 0;
										transform: translateY(-50%);
									}
									to {
										opacity: 1;
										transform: translateY(0);
									}
								}
							}
						}
						@for $i from 1 through 5 {
							&:nth-of-type(#{$i}) {
								$t: ($i * 0.1s);
								& > .icon-wrap {
									&:before {
										animation-delay: $root-delay +
											0.8s +
											$t;
									}
									& > svg {
										animation-delay: $root-delay + 1s + $t;
									}
								}
								& > .title-wrap {
									& > p {
										animation-delay: $root-delay +
											1.5s +
											$t;
									}
									&:before {
										animation-delay: $root-delay +
											1.75s +
											$t;
									}
								}
								& > .text-wrap {
									&:before {
										animation-delay: $root-delay + 2s + $t;
									}
									& > .text {
										animation-delay: $root-delay +
											2.25s +
											$t;
									}
								}
							}
						}
					}
				}
			}
			&.skills-wrap {
				$root-delay: ($root-delay-base * 4);
				& > .skilltype {
					padding: 0.8rem (0.8rem / metallic(1));
					background: $white;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						border-top: 1px dashed $theme;
						transform-origin: left;
						animation: about_wrap_skills_border 0.75s $easeInOutExpo
							both;
						@keyframes about_wrap_skills_border {
							from {
								opacity: 0.5;
								transform: translateX(-100%);
							}
							to {
								opacity: 1;
								transform: translateX(0);
							}
						}
					}
					& > .title-wrap {
						text-align: center;
						padding-bottom: 0.25rem;
						margin-bottom: 0.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
						overflow: hidden;
						& > .title {
							color: $theme;
							font-size: 1.2rem;
							font-family: "Dosis", sans-serif;
							letter-spacing: 0.1rem;
							animation: about_wrap_skills_title 0.6s
								$easeOutCubic both;
							@keyframes about_wrap_skills_title {
								from {
									opacity: 0;
									transform: translateY(-100%);
								}
								to {
									opacity: 1;
									transform: translateY(0);
								}
							}
						}
						&:after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							margin: 0 auto;
							width: (50% / metallic(1));
							border-bottom: dotted $gray 1px;
							animation: about_wrap_skills_title_border 0.5s
								$easeInOutExpo both;
							@keyframes about_wrap_skills_title_border {
								from {
									transform: scaleX(0);
								}
								to {
									transform: scaleX(1);
								}
							}
						}
					}
					@for $i from 1 through 2 {
						&:before {
							animation-delay: $root-delay + 1s;
						}
						& > .title-wrap {
							& > .title {
								animation-delay: $root-delay + 1.9s;
							}
							&:after {
								animation-delay: $root-delay + 2s;
							}
						}
					}
					& > .skills {
						display: flex;
						flex-wrap: wrap;
						& > li {
							display: flex;
							flex-direction: column;
							align-items: center;
							position: relative;
							overflow: hidden;
							& > .brand-wrap {
								display: flex;
								animation: about_wrap_skills_skill_brand 0.5s
									$easeOutCubic both;
								transform-origin: bottom;
								@keyframes about_wrap_skills_skill_brand {
									from {
										transform: translateY(50%);
										opacity: 0;
									}
									to {
										opacity: 1;
										transform: translateY(0);
									}
								}
							}
							& > .name-wrap {
								width: 100%;
								text-align: center;
								margin-bottom: 0.4rem;
								white-space: nowrap;
								position: relative;
								padding-bottom: 0.25rem;
								& > .name {
									color: $theme;
									font-family: "IBM Plex Sans Condensed",
										sans-serif;
									animation: about_wrap_skills_skill_name 0.5s
										$easeOutQuad both;
									@keyframes about_wrap_skills_skill_name {
										from {
											opacity: 0;
											transform: translateY(100%);
										}
										to {
											opacity: 1;
											transform: translateY(0);
										}
									}
								}
								&:after {
									content: "";
									border-bottom: 1px dotted $gray;
									width: (50% / metallic(1));
									position: absolute;
									bottom: 0;
									left: 0;
									right: 0;
									margin: 0 auto;
									animation: about_wrap_skills_skill_name_border
										0.5s $easeInOutCubic both;
									@keyframes about_wrap_skills_skill_name_border {
										from {
											transform: scaleX(0);
										}
										to {
											transform: scaleX(1);
										}
									}
								}
							}
							& > a {
								position: absolute 0;
								size: 100%;
								z-index: 2;
							}
							transition: background-color 0.5s ease;
							&:before {
								content: "";
								position: absolute 0;
								size: 100%;
								animation: about_wrap_skills_skill_bg 1s
									$easeInOutExpo both;
								transform-origin: bottom;
								background: $lightgray;
								z-index: 1;
								@keyframes about_wrap_skills_skill_bg {
									from {
										transform: scaleY(0);
									}
									50% {
										transform: scaleY(1);
									}
									100% {
										transform: translateY(-100%);
									}
								}
							}
							&:after {
								content: "";
								border-bottom: 1px solid $gray;
								width: (100% / metallic(1));
								position: absolute;
								bottom: 0;
								transform: scaleX(0);
								transition: transform 0.25s ease;
							}
							&:hover {
								background: $lightgray;
								&:after {
									transform: scaleX(1);
								}
							}
							&.big {
								width: (100% / 3);
								padding: 1rem 0;
								& > .brand-wrap {
									margin-bottom: 0.5rem;
									font-size: 2rem;
									& > svg,
									& > img {
										height: 2.25rem;
									}
								}
								& > .name-wrap {
									& > .name {
										font-size: 0.8rem;
										letter-spacing: 0.075rem;
									}
								}
							}
							&.middle {
								width: (100% / 5);
								padding: 0.75rem 0;
								& > .brand-wrap {
									margin-bottom: 0.25rem;
									font-size: 1.75rem;
									& > svg,
									& > img {
										height: 1.75rem;
									}
								}
								& > .name-wrap {
									& > .name {
										font-size: 0.6rem;
										letter-spacing: 0.05rem;
									}
								}
							}
							@for $i from 1 through 20 {
								&:nth-of-type(#{$i}) {
									&:before {
										animation-delay: $root-delay +
											1.5s +
											($i * 0.05s);
									}
									& > .brand-wrap {
										animation-delay: $root-delay +
											2.2s +
											($i * 0.05s);
									}
									& > .name-wrap {
										& > .name {
											animation-delay: $root-delay +
												2.4s +
												($i * 0.05s);
										}
										&:after {
											animation-delay: $root-delay +
												2.45s +
												($i * 0.05s);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
