$brand: (
	twitter: $bc-twitter,
	github: $bc-github,
	discord: $bc-discord,
	steam: #096295,
	codepen: #000
);

$wrap-width: 12.5rem;
$wrap-margin: 12px;
$wrap-row: 4;
:root {
	--about-wrap-width: #{$wrap-width};
	--about-wrap-margin: #{$wrap-margin};
}
#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	& > .wraps {
		width: calc(
			#{$wrap-width * $wrap-row} + #{$wrap-margin * ($wrap-row - 1)}
		);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		margin-bottom: 5rem;
		& > .wrap-sizer {
			width: $wrap-width;
			visibility: hidden;
			margin: 0;
		}
		& > .wrap {
			width: $wrap-width;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			box-shadow: 0 2px 2px $shadow;
			overflow: hidden;
			margin-bottom: $wrap-margin;
			@for $i from 2 through $wrap-row {
				&.x#{$i} {
					width: calc(
						#{$wrap-width * $i} + #{$wrap-margin * ($i - 1)}
					);
				}
			}
			& > .title-wrap {
				border-left: 0.25rem solid $theme;
				padding: 0.5rem 0;
				padding-left: 0.8rem;
				background: $white;
				& > .title {
					color: $theme;
					font-family: "Dosis", sans-serif;
					font-size: 1.1rem;
					letter-spacing: 0.2rem;
				}
			}
			& > .text-wrap {
				padding: 0.4rem 0;
				padding-left: 1.05rem;
				background: $white;
				& > .text {
					color: $theme;
					font-family: "IBM Plex Sans Condensed", sans-serif;
					font-size: 0.75rem;
					letter-spacing: 1px;
					padding: 0.05rem 0;
					&:not(:first-of-type) {
						font-size: 0.5rem;
					}
				}
			}
		}
		& > .links-wrap {
			& > .links {
				list-style: none;
				display: flex;
				flex-direction: column;
				& > .link {
					display: flex;
					flex-direction: row;
					align-items: center;
					$icon-size: 2.25rem;
					position: relative;
					& > a,
					& > .clipboard {
						position: absolute;
						z-index: 1;
						size: 100%;
						cursor: pointer;
					}
					& > .icon-wrap {
						size: $icon-size;
						display: flex;
						justify-content: center;
						align-items: center;
						& > svg {
							color: $white;
							font-size: ($icon-size / sqrt(2) / sqrt(2));
						}
					}
					& > .text-wrap {
						width: ($wrap-width - $icon-size);
						$pad-per: (1 - (1 / metallic(1)));
						padding-right: ($icon-size * $pad-per);
						padding-left: ($icon-size * (1 - $pad-per));
						height: $icon-size;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-end;
						background: $white;
						position: relative;
						transition: background-color 0.5s ease;
						overflow: hidden;
						& > p {
							color: $theme;
							font-size: 0.75rem;
							font-family: "IBM Plex Sans Condensed", sans-serif;
							letter-spacing: 0.1rem;
							transition: 0.125s $easeInOutCubic;
							transition-property: opacity, transform;
							&.feedback {
								opacity: 0;
								position: absolute;
								transform: translateY(100%);
							}
						}
						&::before {
							content: "";
							border-bottom: 1px dotted $gray;
							width: 100%;
							margin-right: 0.5rem;
						}
						&::after {
							content: "";
							position: absolute;
							left: ($icon-size * (1 - $pad-per)) * 0.5;
							border-left: 1px solid $gray;
							height: (50% / metallic(1));
							top: 0;
							bottom: 0;
							margin: auto 0;
							transform: scale(0);
							transition: transform 0.5s $easeOutCubic;
						}
					}
					&.copyed {
						& > .text-wrap {
							& > p {
								&:not(.feedback) {
									opacity: 0.125;
									transform: translateY(-100%);
								}
								&.feedback {
									opacity: 1;
									transform: translateY(0%);
								}
							}
						}
					}
					&:hover {
						& > .text-wrap {
							background: $lightgray;
							&::after {
								transform: scale(1);
							}
						}
					}
					@each $brand, $color in $brand {
						&.#{$brand} {
							& > .icon-wrap {
								background: $color;
							}
						}
					}
				}
			}
		}
		& > .avatar-wrap {
			& > .image-wrap {
				display: flex;
				img {
					size: 100%;
				}
			}
			& > .logo-wrap {
				width: 100%;
				display: flex;
				align-items: stretch;
				& > .left,
				& > .right {
					width: 50%;
					display: flex;
					flex-direction: column;
				}
				& > .left {
					background: $theme;
				}
				& > .right {
					background: $white;
				}
				.jp-en,
				.en {
					width: 100%;
					height: 2.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					& > svg {
						width: (100% / sqrt(2));
					}
				}
				.en {
					& > svg {
						fill: $theme;
					}
				}
				.jp-en {
					& > svg {
						fill: $white;
					}
				}
				.me,
				.site {
					width: 100%;
					height: 5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					& > svg {
						height: (100% / metallic(1));
					}
				}
				.me {
					& > svg {
						stroke: $white;
						stroke-width: 12px;
						fill: transparent;
					}
				}
				.site {
					& > svg {
						fill: $theme;
					}
				}
			}
		}
		& > .bio-wrap {
			& > .bio {
				background: $white;
				padding: 1rem 1rem;
				padding-left: 1.5rem;
				border-top: 1px dashed $theme;
				& > p {
					position: relative;
					color: $theme;
					font-size: 0.75rem;
					font-family: "Noto Sans Japanese", sans-serif;
					font-weight: 200;
					letter-spacing: 1px;
					& > a {
						color: $theme;
						font-weight: 400;
						text-decoration: underline dotted $theme;
						cursor: pointer;
					}
					&:not(:last-of-type) {
						margin-bottom: 0.5rem;
					}
					&::before {
						content: "";
						position: absolute;
						border-right: 1px solid $gray;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto 0;
						height: (100% / metallic(1));
					}
				}
			}
		}
		& > .detail-wrap {
			& > .details {
				li {
					display: flex;
					align-items: stretch;
					$title-per: (1 - (1 / metallic(1)));
					& > .icon-wrap {
						width: 2.25rem;
						background: $theme;
						display: flex;
						justify-content: center;
						align-items: center;
						color: $white;
						font-size: 0.9rem;
						padding: 0.5rem 0;
					}
					& > .title-wrap {
						width: ($title-per * 100%);
						background: $white;
						padding-left: 0.5rem;
						display: flex;
						align-items: center;
						position: relative;
						& > .title {
							color: $theme;
							font-size: 0.75rem;
							font-family: "IBM Plex Sans Condensed", sans-serif;
							letter-spacing: 0.05rem;
						}
						&::before {
							content: "";
							position: absolute;
							height: (50% / metallic(1));
							right: 0;
							border-right: 1px $gray solid;
						}
					}
					& > .text-wrap {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						width: ((1 - $title-per) * 100%);
						background: $white;
						padding-right: 0.5rem;
						padding-left: (0.5rem * metallic(1));
						&::before {
							content: "";
							width: 100%;
							border-bottom: 1px $gray dotted;
							margin-right: 0.5rem;
						}
						& > .text {
							color: $theme;
							font-family: "IBM Plex Sans Condensed", sans-serif;
							font-variant-numeric: tabular-nums;
							font-size: 0.75rem;
							letter-spacing: 0.05rem;
						}
					}
				}
			}
		}
		& > .skills-wrap {
			& > .skilltype {
				padding: 0.8rem (0.8rem / metallic(1));
				border-top: 1px dashed $theme;
				background: $white;
				& > .title-wrap {
					text-align: center;
					padding-bottom: 0.25rem;
					margin-bottom: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					& > .title {
						color: $theme;
						font-size: 1.2rem;
						font-family: "Dosis", sans-serif;
						letter-spacing: 0.1rem;
					}
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: 0 auto;
						width: (50% / metallic(1));
						border-bottom: dotted $gray 1px;
					}
				}
				& > .skills {
					display: flex;
					flex-wrap: wrap;
					& > li {
						display: flex;
						flex-direction: column;
						align-items: center;
						& > .brand-wrap {
							color: $theme;
						}
						& > .text-wrap {
							margin-bottom: 0.25rem;
							& > .text {
								color: $theme;
								font-family: "IBM Plex Sans Condensed",
									sans-serif;
							}
						}
						&:not(.space) {
							&::after {
								content: "";
								border-bottom: 1px dotted $gray;
								width: (50% / metallic(1));
							}
						}
						&.big {
							width: (100% / 4);
							padding: 0.5rem 0;
							margin-bottom: 1rem;
							& > .brand-wrap {
								margin-bottom: 0.125rem;
								padding: 0.25rem;
								font-size: 2rem;
								& > svg,
								& > img {
									height: 2.25rem;
								}
							}
							& > .text-wrap {
								& > .text {
									font-size: 0.8rem;
									letter-spacing: 0.05rem;
								}
							}
						}
						&.middle {
							width: (100% / 5);
							padding: 0.25rem 0;
							margin-bottom: 0.5rem;
							& > .brand-wrap {
								margin-bottom: 0.1rem;
								padding: 0.25rem 0;
								font-size: 1.75rem;
								& > svg,
								& > img {
									height: 1.75rem;
								}
							}
							& > .text-wrap {
								& > .text {
									font-size: 0.6rem;
									letter-spacing: 0.05rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
