@import "./constants";

#canvas,
#canvas-placeholder {
	position: fixed $frame-width;
	size: calc(100% - #{$frame-width * 2});
	z-index: 1;
}
#canvas {
	animation: bg_canvas 3s ease-in both;
	@keyframes bg_canvas {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	&:not(.animated) {
		animation-play-state: paused;
	}
	&.animated {
		animation-play-state: running;
	}
}
#canvas-placeholder {
	visibility: hidden;
}
