@import "./constants";

#canvas,
#canvas-placeholder {
	position: fixed $frame-width;
	size: calc(100% - #{$frame-width * 2});
	z-index: 1;
}
#canvas {
	transition: all 0.75s linear;
	visibility: hidden;
	opacity: 0;

	&.visible {
		visibility: visible;
		opacity: 1;
	}
}
#canvas-placeholder {
	visibility: hidden;
}
