@import './colors';

#credit {
    position: absolute;
    z-index: 9999;
    bottom: 2.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    & > p {
        color: hsl($base_hue, 9%, 25%);
        font-size: 0.9rem;
        letter-spacing: 0.025rem;
        font-family: 'Cutive Mono', monospace;
    }
}
