@import "./constants";

#frame {
	& > * {
		position: fixed;
		border: $frame-width $theme;
		z-index: 20;
	}
	$dirs: top, left, bottom, right;
	@each $dir in $dirs {
		$i: index($dirs, $dir);
		& > .#{$dir} {
			border-#{$dir}-style: solid;
			#{$dir}: 0;

			@if ($i % 2 == 1) {
				width: 100%;
			} @else {
				height: 100%;
			}
		}
	}
}
