@import '~minireset.css/minireset';
@import '~awesome-sass-easing/sass-easing';
@import '~mathsass/dist/math';
@import '~sass-metallic-ratio/dist/metallic';

@import './constants';
@import './colors';
@import './keyframes';

:root {
    font-size: 14px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#credit {
    position: absolute;
    z-index: 9999;
    bottom: 2.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    & > p {
        color: $text;
        font-size: 0.9rem;
        letter-spacing: 0.025rem;
        font-family: 'Cutive Mono', monospace;
    }
}

@import './loading';
@import './profile';
