@import '~minireset.css/minireset';
@import '~awesome-sass-easing/sass-easing';
@import '~mathsass/dist/math';
@import '~sass-metallic-ratio/dist/metallic';

@import './constants';
@import './colors';
:root {
    font-size: 14px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

@import './credit';
@import './loading';
@import './profile';
