@import './constants';

$bg: hsl(226, 15%, 95%);
$grad1: hsl(160, 85%, 65%);
$grad2: hsl(280, 85%, 65%);
$grad3: hsl(190, 85%, 65%);
$text: hsl(hue($bg), 9%, 25%);
$shadow: rgba(darken($bg, 20%), 0.75);

#loading {
    position: relative;
    background: $bg;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    & > canvas {
        position: absolute;
        size: 100%;
        z-index: 0;
    }
    & > .clicker {
        position: absolute;
        size: 100%;
        z-index: 2;
    }
    & > .info {
        position: absolute;
        z-index: 1;
        left: 2.5vw;
        top: 0;
        bottom: 0;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem 0;
            & > p {
                color: $text;
                font-size: 1.1rem;
                letter-spacing: 0.05rem;
                font-family: 'Cutive Mono', monospace;
                transition-property: transform, opacity;
                transition-duration: 1s;
                transition-timing-function: $easeInQuad;
                &:nth-of-type(2) {
                    transition-delay: 0.1s;
                }
            }
            & > .title {
                margin-bottom: 0.5rem;
            }
            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }
            &:before {
                content: '';
                border-top: 1px solid $text;
                width: 0.5rem;
                margin-bottom: 0.75rem;
            }
            &:last-of-type {
                &:after {
                    content: '';
                    border-top: 1px solid $text;
                    width: 0.5rem;
                    margin-top: 0.75rem;
                }
            }
            &:before,
            &:after {
                transition-property: transform;
                transition-duration: 0.5s;
                transition-timing-function: $easeInQuart;
                transform-origin: left;
            }
        }
        @media screen and (max-width: $mq-mobile) {
            visibility: hidden;
        }
    }
    &.clicked {
        & > .info {
            & > li {
                & > p {
                    transform: translateX(-2.5vw);
                    opacity: 0;
                }
                &:before,
                &:after {
                    transform: scaleX(0);
                }
            }
        }
    }
    & > .credit {
        position: absolute;
        z-index: 1;
        bottom: 2.5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        & > p {
            color: $text;
            font-size: 0.9rem;
            letter-spacing: 0.025rem;
            font-family: 'Cutive Mono', monospace;
        }
    }
    & > .bars {
        position: relative;
        z-index: 1;
        $bars-height: 60px;
        $bars-width: $bars-height * metallic(1);
        width: $bars-width;
        height: $bars-height;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2rem;
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function: $easeInQuart;
        & > .bar {
            $width: 1px;
            width: $width;
            animation: loading-bar-animation 1.6s $easeInOutSine infinite;
            transform-origin: bottom;
            @for $i from 0 to 16 {
                &:nth-of-type(#{$i + 1}) {
                    animation-delay: -0.9s * $i;
                    height: abs(100%);
                    background: linear-gradient(
                        $i * 4deg + 180deg,
                        $grad1,
                        $grad2,
                        $grad3
                    );
                }
            }
            @keyframes loading-bar-animation {
                0% {
                    transform: scaleY(sin(0deg));
                }
                50% {
                    transform: scaleY(sin(90deg));
                }
                100% {
                    transform: scaleY(sin(180deg));
                }
            }
        }
    }
    &.clicked {
        & > .bars {
            transform: scaleY(0);
        }
    }
    & > .text {
        position: relative;
        z-index: 1;
        & > p {
            color: $text;
            font-size: 1.2rem;
            letter-spacing: 0.25rem;
            font-family: 'Cutive Mono', monospace;
            &:not(:last-of-type) {
                margin-bottom: 0.125rem;
            }
            & > span {
                transition-property: transform, opacity;
                transition-duration: 1s;
                transition-timing-function: $easeInCubic;
                display: inline-block;
                @for $i from 0 to 8 {
                    &:nth-of-type(#{$i + 1}) {
                        transition-delay: $i * 0.15s;
                    }
                }
            }
        }
    }
    &.clicked {
        & > .text {
            & > p {
                & > span {
                    transform: translateY(100%);
                    opacity: 0;
                }
            }
        }
    }
    & > .button {
        position: relative;
        z-index: 3;
        padding: 0.8rem (0.8rem * metallic(1));
        margin-top: 2.5rem;
        background: transparent;
        border: 1px solid;
        border-image: linear-gradient(140deg, $grad1, $grad2, $grad3);
        border-image-slice: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition-property: transform, opacity;
        transition-duration: 1s;
        transition-delay: 1s;
        transition-timing-function: $easeInOutQuad;
        cursor: pointer;
        & > p {
            color: $text;
            font-family: 'Cutive Mono', monospace;
            font-size: 1rem;
            letter-spacing: 0.125rem;
            position: relative;
            transition-property: filter;
            transition-duration: inherit;
            transition-timing-function: inherit;
        }
        &:before {
            content: '';
            position: absolute 0;
            size: 100%;
            margin: auto;
            background: linear-gradient(95deg, $grad1, $grad2, $grad3);
            opacity: 0;
            z-index: 1;
            transition-property: opacity;
            transition-duration: inherit;
            transition-timing-function: inherit;
        }
        &:hover,
        &:focus {
            & > p {
                filter: blur(0.5px);
            }
            &:before {
                opacity: 0.3;
                box-shadow: 0 2px 6px $shadow inset;
            }
        }
    }
    &.clicked {
        & > .button {
            transform: translateY(25%);
            opacity: 0;
        }
    }
}
