@import './const';

[data-namespace='profile'] {
  overflow-y: scroll;
  & > header {
    width: 100%;
    height: 100%;
    position: relative;
    & > .image-wrap {
      width: 100%;
      height: (100% / metallic(1));
      display: flex;
      overflow: hidden;
      & > .image {
        background-size: cover;
        background-image: url('../images/profile.jpeg');
        background-attachment: fixed;
        background-position: center;
        animation: $easeInOutCubic paused both;

        $images: 10;
        width: (100% / $images);
        height: 100%;
        @for $i from 0 to $images {
          &:nth-of-type(#{$i + 1}) {
            animation-delay: 0.25s +
              (1 - sin($i / ($images - 1) * $PI)) *
              0.25s;
            animation-duration: 0.5s +
              (1 - sin($i / ($images - 1) * $PI)) *
              1.5s;
            animation-name: profile-header-image-#{$i % 2 + 1};
          }
        }

        $translate: 5%;
        @keyframes profile-header-image-1 {
          0% {
            transform: translateY($translate);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
        @keyframes profile-header-image-2 {
          0% {
            transform: translateY(-$translate);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      &.animated {
        & > .image {
          animation-play-state: running;
        }
      }
    }
    & > .icon-wrap {
      $size: 9rem;
      size: $size;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(#{100% / metallic(1)} - #{$size / 2});
      margin: 0 auto;
      display: flex;
      border-radius: 50%;
      & > .icon {
        position: absolute 0;
        size: 90%;
        margin: auto;
        border-radius: 50%;
        z-index: 1;
        animation: profile-header-icon 0.5s $easeInOutExpo paused both;
        animation-delay: 0.55s;
        @keyframes profile-header-icon {
          0% {
            transform: scale(0) rotate(1rad);
          }
          100% {
            transform: scale(1) rotate(0);
          }
        }
      }
      & > .covers {
        position: absolute;
        size: 100%;
        & > .cover {
          position: absolute;
          size: 100%;
          border-radius: 50%;
          &:first-of-type {
            box-shadow: 0 2px 8px rgba($dark, 0.5);
          }
          animation: profile-header-icon-covers 0.5s $easeInOutExpo paused both;
          @for $i from 1 through 2 {
            &:nth-of-type(#{$i}) {
              background-color: lighten($dark, (2 - $i) * 10%);
              animation-delay: ($i - 1) * 0.1s + 0.25s;
            }
          }
          @keyframes profile-header-icon-covers {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
      &.animated {
        & > .covers > .cover,
        & > .icon {
          animation-play-state: running;
        }
      }
    }
    & > .contents {
      width: 100%;
      height: 100% / (1 + metallic(1));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $whity;
      & > .title-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > h1 {
          color: $dark;
          font-size: 2.5rem;
          letter-spacing: 0.25rem;
          margin-bottom: 1rem;
          font-family: 'VT323', sans-serif;
          overflow: hidden;
          & > span {
            display: inline-block;
            animation: profile-header-title 0.25s $easeInOutCubic paused both;
            @for $i from 1 through 8 {
              &:nth-of-type(#{$i}) {
                animation-delay: ($i - 1) * 0.05s + 0.25s;
              }
            }
            @keyframes profile-header-title {
              0% {
                transform: translateY(100%);
              }
              100% {
                transform: translateY(0);
              }
            }
          }
        }
      }
      & > .subtitles-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > h2 {
          color: $dark;
          font-size: 0.75rem;
          letter-spacing: 0.1rem;
          font-family: 'Poppins', sans-serif;
          &:not(:last-of-type) {
            margin-bottom: 0.25rem;
          }
          animation: profile-header-subtitles 0.25s $easeInOutCubic paused both;
          @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
              animation-delay: ($i - 1) * 0.1s + 0.45s;
            }
          }
          @keyframes profile-header-subtitles {
            0% {
              transform: translateY(25%);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
        &.animated {
          & > h2 {
            animation-play-state: running;
          }
        }
      }
    }
    & > .guide-wrap {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > p {
        color: $dark;
        font-size: 0.6rem;
        margin-bottom: 0.25rem;
        letter-spacing: 0.18rem;
        font-family: 'Poppins', sans-serif;
        white-space: nowrap;
        padding: 0 1rem;
      }
      animation: profile-header-guide 0.5s $easeOutExpo paused both;
      animation-delay: 1.25s;
      @keyframes profile-header-guide {
        0% {
          opacity: 0;
          transform: translateY(50%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      &:before,
      &:after {
        content: '';
        border-bottom: 1px $dark dotted;
        width: 5rem;
        animation: profile-header-guide-border 0.25s $easeInOutExpo paused both;
        animation-delay: 1.3s;
        @keyframes profile-header-guide-border {
          0% {
            transform: scaleX(0);
            opacity: 0;
          }
          100% {
            opacity: 1;
            transform: scaleX(1);
          }
        }
      }
      &:before {
        transform-origin: right;
      }
      &:after {
        transform-origin: left;
      }
      &.animated {
        animation-play-state: running;
        &:before,
        &:after {
          animation-play-state: running;
        }
      }
    }
  }
  & > section {
    width: 100%;
    height: 100%;
    background: $whity;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .wrap {
      $social-width: (100% / (metallic(2) + 1));
      $profile-width: 100% - $social-width;
      width: (100% / metallic(1));
      height: (100% / metallic(1));
      display: flex;
      flex-direction: column;
      & > .titles {
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
        & > .title-wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > h2 {
            color: $dark;
            font-size: 1.25rem;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 0.5rem;
            font-weight: 400;
          }
          &.social {
            width: $social-width;
          }
          &.profile {
            width: $profile-width;
          }
        }
      }
      & > .contents {
        flex-grow: 2;
        display: flex;
        & > .socials-wrap {
          width: $social-width;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > .socials {
            display: flex;
            flex-direction: column;
            $margin: 0.75rem;
            margin-bottom: -$margin;
            & > li {
              display: flex;
              flex-direction: row;
              align-items: stretch;
              position: relative;
              overflow: hidden;
              box-shadow: 0 2px 4px rgba(black, 0.125);
              margin-bottom: $margin;
              transition: 0.1s ease transform;
              user-select: none;
              & > a {
                position: absolute 0;
                size: 100%;
                cursor: pointer;
                z-index: 1;
              }
              & > .icon-wrap {
                $iconSize: 1.2rem;
                size: $iconSize * metallic(2);
                font-size: $iconSize;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(white, 0.9);
              }
              & > .text-wrap {
                flex-grow: 2;
                display: flex;
                align-items: center;
                padding-left: 1.25rem;
                padding-right: 3.25rem;
                background-color: rgba(white, 0.1);
                box-shadow: 0 0 4px rgba(black, 0.1);
                transition: 0.1s ease;
                transition-property: background-color;
                & > p {
                  color: rgba(white, 0.75);
                  letter-spacing: 0.1rem;
                  font-size: 0.7rem;
                  font-family: 'Poppins', sans-serif;
                }
                & > .icon {
                  position: absolute;
                  right: 1rem;
                  margin-left: 0.8rem;
                  font-size: 0.75rem;
                  color: rgba(white, 0.3);
                }
              }
              $colors: (
                twitter: #1da1f2,
                tumblr: #35465c,
                twitch: #6441a5,
                discord: #7289da,
                spotify: #1db954,
                steam: #2b3647,
                github: #24292e,
                behance: #1769ff,
                dribbble: #ea4c89,
                soundcloud: #ff8800,
                youtube: #ff0000,
                mastodon: #3088d4,
                facebook: #3b5998,
                codepen: #191a1d,
              );
              @each $brand, $color in $colors {
                &.#{$brand} {
                  background-color: $color;
                  order: floor(strip-unit(hue($color)));
                  ::selection {
                    background-color: $color;
                  }
                }
              }
              &:hover {
                & > .text-wrap {
                  background-color: rgba(white, 0.2);
                }
              }
              &:active {
                transform: translateY(2px);
              }
            }
          }
        }
        & > .profile-wrap {
          width: $profile-width;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > .wrap {
            display: flex;
            &:nth-of-type(1) {
              background: white;
              box-shadow: 0 2px 4px rgba(black, 0.125);
              & > .icon-wrap {
                display: flex;
                & > img {
                  size: 7rem;
                }
              }
              & > .text-wrap {
                padding: 0 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                & > p {
                  color: $dark;
                  font-size: 0.68rem;
                  letter-spacing: 0.025rem;
                  font-family: 'Sawarabi Gothic', sans-serif;
                  &:not(:last-of-type) {
                    margin-bottom: 0.1rem;
                  }
                }
              }
            }
            &:nth-of-type(2) {
              height: (100% / (metallic(1)));
              flex-direction: column;
              justify-content: center;
              align-items: center;
              & > .details {
                display: flex;
                flex-direction: column;
                & > .detail {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 0.5rem;
                  & > .icon-wrap {
                    color: $dark;
                    $iconSize: 0.9rem;
                    size: ($iconSize * metallic(1));
                    font-size: $iconSize;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;
                  }
                  & > .title-wrap {
                    margin-right: 2.5rem;
                    & > p {
                      color: $dark;
                      letter-spacing: 0.15rem;
                      font-size: 0.6rem;
                      font-family: 'Poppins', sans-serif;
                    }
                  }
                  & > .data-wrap {
                    flex-grow: 2;
                    display: flex;
                    justify-content: flex-end;
                    & > p {
                      color: $dark;
                      letter-spacing: 0.1rem;
                      font-size: 0.8rem;
                      font-family: 'Poppins', sans-serif;
                    }
                  }
                  &:not(:last-of-type) {
                    margin-bottom: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
