$voxel-card-width: 12rem;
$voxel-card-margin: 20px;
$voxel-card-split: 5;

:root {
	--voxel-card-width: #{$voxel-card-width};
	--voxel-card-margin: #{$voxel-card-margin};
	--voxel-card-split: #{$voxel-card-split};
}

#voxels {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > .text-wrap {
		margin-top: 1.5rem;
		& > .text {
			color: $theme;
			font-size: 1rem;
			font-weight: 200;
			font-family: "IBM Plex Sans Condensed", "Noto Sans Japanese",
				sans-serif;
			letter-spacing: 0.05rem;
			text-align: center;
			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}
			& > a {
				color: $theme;
				position: relative;
				text-decoration: underline solid $theme;
			}
		}
	}

	& > .cards-wrap {
		$width: calc(
			#{$voxel-card-width * $voxel-card-split} + #{$voxel-card-margin * (
					$voxel-card-split - 1
				)}
		);
		width: calc(#{$width} + #{$voxel-card-margin * 4});
		margin: 5rem 0;
		margin-bottom: 7.5rem;
		padding: 5rem 0;
		border-top: 1px dashed $theme;
		border-bottom: 1px dashed $theme;
		display: flex;
		justify-content: center;
		align-items: center;
		.cards {
			width: $width;
			list-style: none;
			& > li.voxel {
				margin-bottom: $voxel-card-margin;
				display: flex;
				flex-direction: column;
				box-shadow: 0 2px 2px $shadow;
				&.wrap-sizer {
					visibility: hidden;
					margin: 0;
				}
				& > .image-wrap {
					width: 100%;
					& > img {
						width: 100%;
						height: auto;
						display: flex;
					}
				}
				& > .info-wrap {
					width: 100%;
					background: $white;
					& > .title-wrap {
						position: relative;
						margin-bottom: 0.8rem;
						padding-bottom: 0.8rem;
						& > .title {
							color: $theme;
							font-size: 1.1rem;
							font-weight: 400;
							font-family: "Dosis", sans-serif;
							letter-spacing: 0.1rem;
						}
						&:after {
							position: absolute;
							content: "";
							width: ($voxel-card-width / 2 / metallic(2));
							bottom: 0;
							border-bottom: 1px dashed $theme;
						}
					}
					& > .date-wrap {
						& > .date {
							color: $theme;
							font-size: 0.8rem;
							font-weight: 300;
							font-family: "IBM Plex Sans Condensed", sans-serif;
							font-variant-numeric: proportional-nums;
						}
					}
					& > .tags-wrap {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						margin-top: 0.25rem;
						& > li {
							$color: $theme;
							position: relative;
							list-style: none;
							padding: 0 0.25rem;
							&:before {
								content: "";
								position: absolute;
								height: (50% / metallic(1));
								top: 0;
								bottom: 0;
								left: 0;
								margin: auto 0;
								border-left: 1px solid $color;
							}
							&:not(:last-of-type) {
								margin-right: 0.1rem;
							}
							& > p {
								color: $color;
								font-size: 0.75rem;
								letter-spacing: 0.05rem;
								font-weight: 400;
								font-family: "IBM Plex Sans Condensed",
									sans-serif;
							}
						}
					}
				}
				@for $i from 1 through $voxel-card-split {
					&.x#{$i} {
						width: calc(
							#{$voxel-card-width *
								$i} +
								#{$voxel-card-margin *
								($i - 1)}
						);
						& > .info-wrap {
							padding: (1rem * $i) (1rem * metallic(1) * $i);
						}
					}
				}
			}
		}
	}
}
