-
	var $links = {
		twitter:"https://twitter.com/@SnO2WMaN",
		github:"https://github.com/SnO2WMaN",
		steam:"https://steamcommunity.com/id/SnO2WMaN",
		discord:"SnO2WMaN#9459",
		codepen:"https://codepen.io/SnO2WMaN",
	};

article#about
	.title-wrap
		p.title ABOUT
	.wraps
		.wrap-sizer
		.wrap.bio-wrap.x2
			.title-wrap
				p.title BIOGRAPHY
			.text-wrap
				p.text &gt; Album Title Goes Here &lt;
			.bio
				p ウェブデザインとボクセルを作っています。
				p
					| フロントエンド系の技術とウェブデザイン、
					br
					| モーショングラフィックスに心血を注いでいます。
				p
					| 好きなものは
					a(href="https://products.suntory.co.jp/d/4901777044852/" title="青い缶に入ったヤツ 500mLだとなお良い" target="_blank") ペプシコーラ（純正）
					| で、
					br
					| 嫌いなものは
					a(href="https://twitter.com/SnO2WMaN/status/1000645194172133376" title="エンジニアが全員スシが好きだと思うなよ" target="_blank") スシ
					| です。
				p 現状では特に活動実績はありません。
		.wrap.links-wrap
			.title-wrap
				p.title ACCOUNTS
			.text-wrap
				p.text Follow me &amp; Be a friend.
			ul.links
				each $link,$key in $links
					-const $isCb = !$link.startsWith("https");
					li.link(class=$key)
						if !$isCb
							a(href=$link target="_blank")
						else
							.clipboard(data-clipboard-text=$link)
						.icon-wrap
							i.fab(class=`fa-${$key}`)
						.text-wrap
							p #{$link.split("/")[$link.split("/").length - 1]}
							if $isCb
								p.feedback Copyed.
		.wrap.avatar-wrap
			.title-wrap
				p.title AVATAR &amp; LOGO
			.text-wrap
				p.text Current my avatar &amp; logo
				p.text SnO2WMaN 2018 &copy;
			.image-wrap
				img(src=require("../icons/avatar.png"))
			.logo-wrap
				.left
					.me
						i.icon.sno2wman
					.jp-en
						i.icon.logo-jp-en
				.right
					.en
						i.icon.logo-en
					.site
						i.icon.logo-site
		.wrap.detail-wrap
			.title-wrap
				p.title DETAIL
			.text-wrap
				p.text Waste Information
				p.text Last-Update 2018.07.05
			ul.details
				li.age
					.icon-wrap
						i.fas.fa-dna
					.title-wrap
						p.title Age
					.text-wrap
						p.text 17
				li.birthday
					.icon-wrap
						i.fas.fa-birthday-cake
					.title-wrap
						p.title Birth
					.text-wrap
						p.text 2001.06.22
				li.gender
					.icon-wrap
						i.fas.fa-mars
					.title-wrap
						p.title Gender
					.text-wrap
						p.text Male
				li.location
					.icon-wrap
						i.fas.fa-map-marker-alt
					.title-wrap
						p.title Locate
					.text-wrap
						p.text Nagoya,JP
		.wrap.skills-wrap.x2
			.title-wrap
				p.title SKILLSET
			.text-wrap
				p.text SkillTree Progress : 5%
			ul.skills
				li.skill.html5.big
					.icon-wrap
						i.fab.fa-html5
					.text-wrap
						p.text HTML5
				li.skill.css.big
					.icon-wrap
						i.fab.fa-css3
					.text-wrap
						p.text CSS3
				li.skill.js.big
					.icon-wrap
						i.fab.fa-js
					.text-wrap
						p.text Javascript
				li.skill.big.space
				li.skill.eslint.middle
					.icon-wrap
						i.icon.eslint
					.text-wrap
						p.text ESLint
				li.skill.webpack.middle
					.icon-wrap
						i.icon.webpack
					.text-wrap
						p.text Webpack
