article#home
	header
		.titles-wrap
			.title-wrap
				h1.title BE(T_T)ER
				.cover
			.title-wrap
				h1.title WEBDESIGN MACHINE 2001
				.cover
		.text-wrap
			p.text I'm SnO2WMaN.
			p.text Creating web contents &amp; voxel arts.
		ul.detail-wrap
			li.detail
				.icon-wrap
					i.fas.fa-birthday-cake
				.text-wrap
					span.text 16
			li.detail
				.icon-wrap
					i.fas.fa-map-marker-alt
				.text-wrap
					span.text JP.Nagoya
			li.detail
				.icon-wrap
					i.fas.fa-mars
				.text-wrap
					span.text Male
	section
		.title-wrap
			p.title LATEST ACTIVITY
		ul.activities
			li.activity
				.date-wrap
					time.date(datetime="2018-06-22") 2018.06.22
				.text-wrap
					p.text SnO2WMaN.GRAPHICSを再開発しました。
			li.activity
				.date-wrap
					time.date(datetime="2001-06-22") 2001.06.22
				.text-wrap
					p.text SnO2WMaNが生誕しました。
