article#voxels
	.title-wrap
		p.title VOXELS
	.text-wrap
		p.text
			|時々
			a(href="https://ephtracy.github.io/" target="_blank") Magicavoxel
			|で作っているもの。
		p.text
			|Sometimes I made them with
			|
			a(href="https://ephtracy.github.io/" target="_blank") Magicavoxel
			|.
	.cards-wrap
