-$title = "SnO2WMaN.graphics"
-$description = "SnO2WMaN website v3."
-$image = "https://www.gravatar.com/avatar/9a828752a7771c3bf43e3bea39d9cf57?s=512"
-$twitter_card = "./assets/twitter_card.png"

meta(property="og:title" contents=$title)
meta(property="og:locate" contents="ja_JP")
meta(property="og:type" contents="website")
meta(property="og:description" contents=$description)
meta(property="og:url" content="https://sno2wman.graphics")
meta(property="og:site_name" content=$title)
meta(property="og:image" content=$image)

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@SnO2WMaN")
meta(name="twitter:creator" content="@SnO2WMaN")
meta(name="twitter:title" content=$title)
meta(name="twitter:description" content=$description)
meta(name="twitter:image" content=$twitter_card)

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

link(type="image/png" href=$image rel="icon")

title #{$title}