#loading
  .icon-wrap
    include ./images/sno2wman.svg
  .loaders
    -$i = 0;
    while $i++ < 20
      .loader
  .faders
    .fader
    .fader
    .fader
  .rects
    .left
      .rect
      .rect
      .rect
    .right
      .rect
      .rect
      .rect