nav#nav
  .menu-wrap
    .title-wrap
      .site
        p
          each $char in "SnO2WMaN".split("")
            span #{$char}
        p
          each $char in "GRAPHICS".split("")
            span #{$char}
      .profile
        p
          span webdesign
          span voxel
          span generative
          span nerd
    ul.menu
      each $text in ["index","profile","works","contact"]
        li(class=$text)
          p #{$text.toUpperCase()}
          .border
          a(href="./"+$text+".pug")
          .covers
            .cover
            .cover
    ul.socials
      -
        $socials={
          twitter:"https://twitter.com/SnO2WMaN",
          tumblr:"https://sno2wman.tumblr.com",
          github:"https://github.com/SnO2WMaN",
          email:"mailto:sno2wman.official@gmail.com"
        }
      each $link,$social in $socials
        li.social(class=$social)
          a(href=$link target="_blank")
          .covers
            .cover
            .cover
          .borders
            .border
            .border
            .border
            .border
          .icon
            if $social == "email"
              i.fas.fa-envelope
            else
              i.fab(class="fa-"+$social)
    .licence-wrap
      .licence 
        .border
        p CopyRight:2018 SnO2WMaN
        .border
      .licence
        .border
        p ALL RIGHT RESERVED
        .border
  .hero-guide
    .number-wrap
      .ten
        span 0
      .one
        -$i = 0;
        while $i++ < $index_heroes
          span #{$i}
        span.inner 0
    .wrap
      .title-wrap
        p Laboruin
        p Homebuild
        p Spring
        p.inner wow.
      .buttons
        -$i = 0;
        while $i++ < $index_heroes
          .button