header
  .wrap
    img.image(src="./images/dog_working.gif",title="Harder,Better,Faster,Stronger",alt="Harder,Better,Faster,Stronger")
    .contents
      .titles-wrap
        h1 UNDER CONSTRUCTING
        h2 We're Sorry.
        h2 Dog is working.
        h2 Harder,better,faster,stronger.