extends _layout.pug

block head
  link(href="./styles/bundle.scss", rel="stylesheet")
  title Contact

block contents
  #barba-wrapper
    .barba-container(data-namespace="contact")
      form#form(name="contact" method="POST" netlify-honeypot="honeypot" netlify)
        .left
          label(for="message") Message
          textarea(name="message" type="text" required)
        .right
          .inputs
            .honeypot
              label(for="honeypot") Honeypot
              input(name="honeypot", type="text", placeholder="For Bot, not for Human.")  
            .name
              label(for="name") Name
              input(name="name" type="text" required)  
            .email
              label(for="email") Email
              input(name="email" type="email" required)  
            .org
              label(for="org") 
                |Org
                span option
              input(name="org" type="text")  
            .website
              label(for="website") 
                |Website
                span option
              input(name="website" type="text")
          .button
            button(type="submit") SEND