extends _layout.pug

block head
  link(href="./styles/bundle.scss", rel="stylesheet")
  title Contact

block contents
  #barba-wrapper
    .barba-container(data-namespace="contact")
      #title
        h1 CONTACT
      #texts
        p 依頼など、気軽にお問い合わせください。可能な限り対応します。
        p.shade ※ スパム防止用にreCAPTCHAを行います。
      form#form(name="contact" method="POST" netlify-honeypot="honeypot" netlify)
        .left
          label(for="message") Message
          textarea(name="message" type="text" required)
        .right
          .inputs
            .honeypot
              label(for="honeypot") Honeypot
              input(name="honeypot", type="text", placeholder="For Bot, not for Human.")  
            .name
              label(for="title") TITLE
              input(name="title" type="text" required)  
            .name
              label(for="name") NAME
              input(name="name" type="text" required)  
            .email
              label(for="email") EMAIL
              input(name="email" type="email" required)  
            .org
              label(for="org") 
                |ORG
                span option
              input(name="org" type="text")  
          .button
            button(type="submit") SEND