@import "ress/ress";
@import "~sass-metallic-ratio/index";
@import "~sass-easing/easings";

$theme: hsl(210, 20%, 24%);
$bg: hsl(210, 8%, 89%);

:root {
	--theme: #{$theme};
	--bg: #{$bg};
	font-size: 12px;
}

body {
	overflow-y: scroll;
	background: $bg;
}

$frame-width: 0.75rem;

#canvas,
#canvas-placeholder {
	position: fixed $frame-width;
	size: calc(100% - #{$frame-width * 2});
	z-index: 1;
}
#canvas-placeholder {
	visibility: hidden;
}

#frame {
	position: fixed 0;
	size: 100%;
	z-index: 2;
	& > * {
		position: absolute;
		size: 100%;
		border: $frame-width $theme;
	}
	@each $dir in top left bottom right {
		& > .#{$dir} {
			border-#{$dir}-style: solid;
		}
	}
}
#globalnav {
	position: fixed;
	top: calc(#{$frame-width} + 7.5vh);
	right: calc(#{$frame-width} + 7.5vw);
	z-index: 10;
	& > .menu {
		display: flex;
		flex-direction: row;
		list-style: none;
		& > li {
			width: 6rem;
			& > .text-wrap {
				width: 100%;
				text-align: center;
				& > .text {
					color: $theme;
					user-select: none;
					font-size: 1rem;
					font-family: "Dosis", sans-serif;
					letter-spacing: 2px;
				}
			}
		}
	}
}

#left {
	position: fixed;
	left: calc(#{$frame-width} + (7.5vw / 2));
	top: calc(#{$frame-width} + 7.5vh);
	margin: auto 0;
	height: calc(100vh - #{$frame-width * 2} - (7.5vh * 2));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
	& > .wrap {
		&.top {
			& > .icon-wrap {
				size: 4rem;
				&:not(:last-of-type) {
					margin-bottom: 2rem;
				}
				&.site {
					& > svg {
						fill: $theme;
					}
				}
				&.me {
					& > svg {
						fill: transparent;
						stroke: $theme;
						stroke-width: 8px;
					}
				}
			}
		}
		&.bottom {
			& > .text-wrap {
				text-align: left;
				& > .text {
					user-select: none;
					color: $theme;
					letter-spacing: 0.1rem;
					font-size: 0.9rem;
					font-family: "Raleway", sans-serif;
					font-variant-numeric: lining-nums;
					&:not(:last-of-type) {
						margin-bottom: 0.5rem;
					}
				}
			}
		}
	}
}

#main {
	$header-height: (100vh / sqrt(2));
	position: absolute;
	top: calc(#{100vh - $header-height});
	left: 0;
	right: 0;
	margin: 0 auto;
	width: calc(100% - #{$frame-width * 2});
	z-index: 100;

	& > header {
		position: relative;
		width: 100%;
		height: $header-height;
		padding-bottom: $frame-width;
		&::before {
			content: "";
			position: absolute auto 0;
			bottom: 0;
			width: (100% / metallic(1));
			margin: 0 auto;
			border-bottom: 1px $theme dashed;
		}
		& > .title-wrap {
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			text-align: center;
			& > h1 {
				color: $theme;
				font-size: 4rem;
				font-family: "Raleway", sans-serif;
				font-weight: 100;
				letter-spacing: 0.5rem;
				margin-bottom: 1.5rem;
			}
			& > h2 {
				color: $theme;
				font-size: 1.25rem;
				font-family: "Raleway", sans-serif;
				font-weight: 300;
				letter-spacing: 0.25rem;
				font-variant-numeric: lining-nums;
			}
		}
	}
	& > .guide {
		$size: 10rem;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		size: $size;
		background: $theme;
		border-radius: 50%;
		top: calc(#{$header-height} - #{$size / 2});
		overflow: hidden;
		& > .inner {
			content: "";
			position: absolute 0;
			margin: auto;
			border-radius: 50%;
			$scale: 25%;
			$lighter: 5%;
			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					size: (100% - $scale * $i);
					z-index: 1;
					animation: header-guide-inner-#{$i} 1s infinite linear;
				}
				@keyframes header-guide-inner-#{$i} {
					0% {
						background: lighten($theme, $i * $lighter);
					}
					100% {
						size: (100% - $scale * ($i - 1));
						background: lighten($theme, ($i - 1) * $lighter);
					}
				}
			}
		}
	}
	& > section {
		width: 100%;
		height: 50vh;
	}
}
