@import "~ress/ress";
@import "~sass-metallic-ratio/index";
@import "~sass-easing/easings";

$text: #787878;
$theme-1: #3d5afe;
$theme-2: #8c9eff;

html,
body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#caution {
	position: absolute;
	z-index: 9999;
	right: 2%;
	bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	opacity: 0.25;
	& > .icon-wrap {
		margin-bottom: 0.125rem;
		& > svg {
			height: 2rem;
			fill: $text;
		}
	}
	& > .text {
		text-align: right;
		font-size: 0.8rem;
		color: $text;
		font-family: "IBM Plex Sans Condensed", sans-serif;
		font-kerning: normal;
		& > strong {
			position: relative;
			font-weight: 700;
			margin: 0 0.3rem;
		}
		&:not(:last-of-type) {
			margin-bottom: 0.125rem;
		}
	}
}

#loading {
	position: absolute 0;
	size: 100%;
	background: $theme-1;
	z-index: 5000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& > .icon-wrap {
		size: 10rem;
		margin: 2.5rem;
		& > svg {
			fill: #fff;
		}
	}
	& > .text-wrap {
		& > .text {
			font-size: 1rem;
			font-weight: 700;
			color: white;
			font-family: "IBM Plex Sans Condensed", sans-serif;
			letter-spacing: 4px;
			transform-origin: top;
		}
	}
}

#main {
	position: absolute 0;
	width: 100vw;
	height: 100vh;
	background: #fafafa;
	& > .contents-wrap {
		size: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		& > .contents {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			& > .wrap {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&:not(:first-of-type) {
					margin-left: 1.5rem;
				}
				& > .icon-wrap {
					user-select: none;
					position: relative;
					size: 9.5rem;
					overflow: hidden;
					& > .cover {
						position: absolute;
						left: -(sqrt(2) - 1) * 50%;
						top: -(sqrt(2) - 1) * 50%;
						size: (100% * sqrt(2));
						border-radius: 50%;
						&:nth-of-type(1) {
							background: $theme-2;
							z-index: 0;
						}
						&:nth-of-type(2) {
							background: $theme-1;
							z-index: 1;
						}
					}
					& > svg {
						position: absolute 0;
						z-index: 2;
						margin: auto;
						size: (100% / metallic(1));
						stroke: #fff;
						stroke-width: 6px;
						fill: transparent;
					}
				}
				& > .title-wrap {
					user-select: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-top: 1rem * metallic(1);
					margin-bottom: 1rem;
					text-align: center;
					& > .title {
						position: relative;
						overflow: hidden;
						padding: 0 0.25rem;
						&:not(:last-of-type) {
							margin-bottom: 3px;
						}
						& > .cover {
							position: absolute 0;
							size: 100%;
							z-index: 1;
							&:nth-of-type(1) {
								background: $theme-2;
							}
							&:nth-of-type(2) {
								background: $theme-1;
							}
						}
						& > p {
							position: relative;
							z-index: 0;
							color: $text;
							font-size: 1.25rem;
							font-weight: 500;
							font-family: "Raleway", sans-serif;
							letter-spacing: 3px;
							font-variant-numeric: oldstyle-nums;
						}
					}
				}
				& > .describe-wrap {
					user-select: none;
					text-align: center;
					& > .describe {
						color: $text;
						font-family: "IBM Plex Sans Condensed", sans-serif;
						font-size: 0.9rem;
						font-weight: 400;
						font-kerning: normal;
						&:not(:last-of-type) {
							margin-bottom: 3px;
						}
					}
				}
				& > .links-wrap {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					& > .link {
						$width: 10rem;

						position: relative;
						margin: 0.4rem 0;
						list-style: none;
						background: white;
						box-shadow: 0 0 2px rgba(black, 0.05);
						&:first-of-type {
							margin-top: 0;
						}
						&:last-of-type {
							margin-bottom: 0;
						}
						& > .link,
						& > .clipboard {
							z-index: 10;
							position: absolute 0;
							size: 100%;
							cursor: pointer;
							visibility: hidden;
						}
						& > .icon-wrap {
							$size: 1.5rem;

							position: relative;
							width: $width;
							height: $size * metallic(1);
							font-size: $size;
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: center;
							color: white;
							fill: white;
							padding: ($size * (metallic(1) - 1) / 2) 0.75rem;
							overflow: hidden;
							& > .cover {
								position: absolute 0;
								size: 100%;
								background-color: rgba(white, 0.25);
							}
							& > .border {
								width: 100%;
								height: 1px;
								background: white;
								margin-left: 0.75rem;
								transform: scale(0);
								transform-origin: left;
								transition: transform 0.5s $easeInOutQuad;
							}
						}
						& > .text-wrap {
							width: $width;
							padding: 0.5rem 0;
							padding-left: 0.75rem;
							overflow: hidden;
							& > .text {
								color: $text;
								font-size: 0.8rem;
								font-weight: 400;
								font-family: "IBM Plex Sans Condensed",
									sans-serif;
								font-variant-numeric: lining-nums;
							}
						}
						&.animated {
							& > .link,
							& > .clipboard {
								visibility: visible;
							}
							&:hover {
								& > .icon-wrap {
									& > .border {
										transform: scale(1);
									}
								}
							}
						}
						$brand-color: (
							twitter: #1da1f2,
							steam: #231f20,
							github: #333,
							discord: #7289da,
							qiita: #55c500,
							amazon: #ff9900,
							pixiv-fanbox: #2c333c,
							rss: #f26522
						);
						@each $key, $color in $brand-color {
							&.#{$key} {
								& > .icon-wrap {
									background: $color;
								}
							}
						}
						&.qiita {
							& > .icon-wrap {
								$width: 100% / (579 / 200);
								& > svg {
									width: $width;
								}
								& > .border {
									width: 100% - $width;
								}
							}
						}
						&.pixiv-fanbox {
							& > .icon-wrap {
								$width: 100% / (480 / 248);
								& > svg {
									width: $width;
								}
								& > .border {
									width: 100% - $width;
								}
							}
						}
					}
				}
				& > .bio-wrap {
					width: (10rem * metallic(1));
					background: white;
					box-shadow: 0 0 2px rgba(black, 0.05);
					padding: 1rem (1rem * metallic(1));
					position: relative;
					overflow: hidden;
					& > .cover {
						position: absolute 0;
						size: 100%;
						z-index: 2;
						&:nth-of-type(1) {
							background: $theme-2;
						}
						&:nth-of-type(2) {
							background: $theme-1;
						}
					}
					& > .title-wrap {
						position: relative;
						z-index: 1;
						margin-bottom: 1rem;
						& > .title {
							font-size: 1.1rem;
							color: $text;
							font-family: "Raleway", sans-serif;
							font-weight: 500;
							letter-spacing: 2px;
						}
					}
					& > .text-wrap {
						position: relative;
						z-index: 1;
						padding-left: 0.25rem;
						& > p {
							color: $text;
							font-family: "Noto Sans Japanese", serif;
							font-feature-settings: "palt" 1, "trad" 1;
							font-variant-ligatures: common-ligatures;
							font-weight: 300;
							font-size: 0.75rem;
							font-kerning: normal;
							letter-spacing: -1px;
							&:not(:last-of-type) {
								margin-bottom: 0.4rem;
							}
							& > strong {
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
}
