<!DOCTYPE html>
html(lang="jp")
    head
        include _head.pug
        link(href="./styles/index.scss", rel="stylesheet")
    body
        #credit
            p 2018 SnO2WMaN ver.3.0
        include loading.pug
        include profile.pug
        script(src="./scripts/index.js")