<!DOCTYPE html>
html(lang="jp")
    head
        title SnO2WMaN
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="./styles/index.scss", rel="stylesheet")
    body
        #credit
            p 2018 SnO2WMaN ver.3.0
        include loading.pug
        include profile.pug
        script(src="./scripts/index.js")