<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title SnO2WMaN
	body
		header
			.bg
			.contents-wrap
				.contents
					.wrap
						.icon-wrap
							include ./icons/sno2wman.svg
						.title-wrap
							p.title SnO2WMaN
							p.title Graphics
						.describe-wrap
							p.describe Webdesign nerd aged 16
							p.describe Sushi hater in Japan
					.wrap
						ul.links-wrap
							li.link.twitter
								a.link(href="https://twitter.com/SnO2WMaN" target="_blank")
								.icon-wrap
									i.fab.fa-twitter
									.border
								.text-wrap
									p.text @SnO2WMaN
							li.link.github
								a.link(href="https://github.com/SnO2WMaN" target="_blank")
								.icon-wrap
									i.fab.fa-github
									.border
								.text-wrap
									p.text SnO2WMaN
							li.link.discord
								.icon-wrap
									i.fab.fa-discord
									.border
								.text-wrap
									p.text SnO2WMaN#9459
							li.link.steam
								a.link(href="https://steamcommunity.com/id/SnO2WMaN" target="_blank")
								.icon-wrap
									i.fab.fa-steam
									.border
								.text-wrap
									p.text SnO2WMaN
					.wrap
						ul.links-wrap
							li.link.qiita
								a.link(href="https://qiita.com/SnO2WMaN" target="_blank")
								.icon-wrap
									include ./icons/qiita.svg
									.border
								.text-wrap
									p.text SnO2WMaN
							li.link.rss
								a.link(href="http://blog.sno2wman.graphics" target="_blank")
								.icon-wrap
									i.fas.fa-rss
									.border
								.text-wrap
									p.text blog.
					.wrap
						ul.links-wrap
							li.link.amazon
								a.link(href="http://amzn.asia/dx2NwFz" target="_blank")
								.icon-wrap
									i.fab.fa-amazon
									.border
								.text-wrap
									p.text amzn.asia/dx2NwFz
							li.link.pixiv-fanbox
								a.link(href="https://www.pixiv.net/fanbox/creator/31358190")
								.icon-wrap
									include ./icons/pixiv_fanbox_2.svg
									.border
								.text-wrap
									p.text 31358190
