-const $title = "SnO2WMaN.Graphics"
-const $description = "SnO2WMaN Website"
-const $image = "https://www.gravatar.com/avatar/9a828752a7771c3bf43e3bea39d9cf57?s=512"

doctype html
html(lang="jp")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="google" contents="notranslate")
		meta(name="description" contents=$description)

		meta(property="og:title" contents=$title)
		meta(property="og:locate" contents="ja_JP")
		meta(property="og:type" contents="website")
		meta(property="og:description" contents=$description)
		meta(property="og:url" content="https://sno2wman.graphics")
		meta(property="og:site_name" content=$title)
		meta(property="og:image" content=$image)

		meta(name="twitter:card" content="summary")
		meta(name="twitter:site" content="@SnO2WMaN")
		meta(name="twitter:creator" content="@SnO2WMaN")
		meta(name="twitter:title" content=$title)
		meta(name="twitter:description" content=$description)

		link(type="image/png", href=$image, rel="shortcut icon")
		title #{$title}
	body
		section
			.bg
			.contents-wrap
				.contents
					.wrap
						.icon-wrap
							i.icon.sno2wman
						.title-wrap
							.title
								.cover
								.cover
								p.text SnO2WMaN
							.title
								.cover
								.cover
								p.text Graphics
						.describe-wrap
							p.describe Webdesign nerd aged 16
							p.describe Sushi hater in Japan
					.wrap
						ul.links-wrap
							li.link.twitter
								a.link(href="https://twitter.com/SnO2WMaN" target="_blank")
								.icon-wrap
									i.fab.fa-twitter
									.border
								.text-wrap
									p.text @SnO2WMaN
							li.link.github
								a.link(href="https://github.com/SnO2WMaN" target="_blank")
								.icon-wrap
									i.fab.fa-github
									.border
								.text-wrap
									p.text SnO2WMaN
							li.link.discord
								.icon-wrap
									i.fab.fa-discord
									.border
								.text-wrap
									p.text SnO2WMaN#9459
							li.link.steam
								a.link(href="https://steamcommunity.com/id/SnO2WMaN" target="_blank")
								.icon-wrap
									i.fab.fa-steam
									.border
								.text-wrap
									p.text SnO2WMaN
					.wrap
						ul.links-wrap
							li.link.qiita
								a.link(href="https://qiita.com/SnO2WMaN" target="_blank")
								.icon-wrap
									i.icon.qiita
									.border
								.text-wrap
									p.text SnO2WMaN
							li.link.rss
								a.link(href="http://blog.sno2wman.graphics" target="_blank")
								.icon-wrap
									i.fas.fa-rss
									.border
								.text-wrap
									p.text blog.
					.wrap
						ul.links-wrap
							li.link.amazon
								a.link(href="http://amzn.asia/dx2NwFz" target="_blank")
								.icon-wrap
									i.fab.fa-amazon
									.border
								.text-wrap
									p.text amzn.asia/dx2NwFz
							li.link.pixiv-fanbox
								a.link(href="https://www.pixiv.net/fanbox/creator/31358190")
								.icon-wrap
									i.icon.pixiv-fanbox
									.border
								.text-wrap
									p.text 31358190
