#loading
    .credit
        p 2018 SnO2WMaN ver.3.0
    .bars
        -$i = 0
        while $i++ < 16
            .bar
    .text
        p HTTPS://
        p SnO2WMaN
        p Graphics
    .button
        p START