mixin split($text)
        each $char in $text.split("")
            span #{$char}

#loading
    .bg
        .rect
        .rect
    canvas
    .clicker
    ul.info
        li.particles
            p.title Particles
            p.data 0
    .bars
        -$i = 0
        while $i++ < 16
            .bar
    .text
        p
            +split("HTTPS://")
        p
            +split("SnO2WMaN")
        p
            +split("Graphics")
    .button
        p.loading
            +split("loading")
        p.execute
            +split("execute")