mixin split($text)
    p
        each $char in $text.split("")
            span #{$char}

#loading
    canvas.canvas
    .credit
        p 2018 SnO2WMaN ver.3.0
    .bars
        -$i = 0
        while $i++ < 16
            .bar
    .text
        +split("HTTPS://")
        +split("SnO2WMaN")
        +split("Graphics")
    .button
        p START